%div.col-md-8.b_1
  %h1
    %a{href: '#'}
      Intelligence Glass Boop
  %ul.list-inline.meta
    %li
      By Adam Fortuna on December 31, 2213.
    %li
      %a{href: '#'}
        2 Comments
    %li
      %a{href: '#'}
        JavaScript
      ,&nbsp;
      %a{href: '#'}
        Robots
%div.col-md-offset-1.col-md-3.right-panel.b_2