/ Lead
%div.row.well.well-lg.lead-section
  %div.col-sm-6
    %h2
      The Fastest Way to Space
    %p.lead
      Make your way to space in the comfort of your rocket, elevator, or transporter.
    %button.btn.btn-lg.btn-primary
      Take the Tour
    %button.btn.btn-lg.btn-success
      Book Tickets Now
  %div.col-sm-6.hidden-sm.hidden-xs
    %img{src: 'images/img-header.jpg'}


/ Features
%div.row.features.text-center
  %div.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
    %i.glyphicon.glyphicon-briefcase
    %h3
      Book Today!
  %div.col-sm-4.col-xs-6
    %i.glyphicon.glyphicon-random
    %h3
      Go Anywhere!
  %div.col-sm-4.col-xs-6
    %i.glyphicon.glyphicon-send
    %h3
      RocketBus&reg;
