/ Lead
%div.b_2

/ Features
%div.row.features.text-center
  %div.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
    %i.glyphicon.glyphicon-briefcase
    %h3
      Book Today!
  %div.col-sm-4.col-xs-6
    %i.glyphicon.glyphicon-random
    %h3
      Go Anywhere!
  %div.col-sm-4.col-xs-6
    %i.glyphicon.glyphicon-send
    %h3
      RocketBus&reg;
