/ Lead
%div.row.well.well-lg.lead-section
  %div.col-sm-6
    %h2
      The Fastest Way to Space
    %p.lead
      Make your way to space in the comfort of your own rocket, elevator, or transporter.
    %button.btn.btn-lg.btn-primary
      Take the Tour
    %button.btn.btn-lg.btn-success
      Book Tickets Now
  %div.col-sm-6.hidden-sm.hidden-xs
    = image_tag 'img-header.jpg'


/ Features
%div.row.features.text-center
  %div.col-sm-4.col-xs-10.col-xs-offset-1.col-sm-offset-0
    %i.glyphicon.glyphicon-briefcase
    %h3
      Book Today!
      %p
        Even if you're traveling tomorrow, you can still get tickets today. |
        We have a number of conveniently located ports around the globe to service everyone.
  %div.col-sm-4.col-xs-6
    %i.glyphicon.glyphicon-random
    %h3
      Go Anywhere!
      %p
        If you need to get to space today, why not try out a transporter? Despite the claims, |
        there have been no deaths in the last 6 weeks!
  %div.col-sm-4.col-xs-6
    %i.glyphicon.glyphicon-send
    %h3
      RocketBus&reg;
      %p
        For cheapest fares, catch the next Rocketbus&reg; to the stars. Cheaper on your wallet and easiest way to make friends.


