$color-orange-dark  : #CE4305;
$color-orange-light : #E66833;

$color-green-dark   : #279023;
$color-green-medium : #42ac73;
$color-green-light  : #38A832;
$color-green-neon   : #bbd448;

$color-blue         : #0075c1;
$color-blue-light   : #1C92DA;
$color-blue-alpha   : rgba(0, 85, 145, 0);

$color-red          : #CE4305;

$color-darkblue     : #0051a5;
$color-mediumblue   : #0065cc;
$color-lightblue    : #f5f9fd;
$color-darkred      : #cf4405;
$color-lightred     : #fdf5f5;

$color-grey-dark    : #333;
$color-grey-medium  : #f3f2f2;
$color-grey-light   : #fafafa;

$color-charcoal     : #3e3e3e;

$color-white        : #fff;
$color-black        : #000;

// Semantic Aliases

$color-page-text    : $color-charcoal;
