.ng-touched {
  &.ng-invalid {
    border-color: #a94442;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    color: #a94442;
    &:focus {
      border-color: #843534;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 6px #ce8483;
      color: #843534;
    }
    &::after {
      content: attr(data-message);
      display: block;
    }
    &::-webkit-input-placeholder {
      color: #a94442;
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: #a94442;  
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: #a94442;  
    }

    &:-ms-input-placeholder {  
      color: #a94442;  
    }
  }
}

.form-group > .row > .col-sm-12, .form-group > .row > .col-sm-6, .form-group > .row > .col-sm-4 {
  position: relative;
}
.ng-error-message {
  background-color: #a94442;
  border-radius: 0 3px 0 3px;
  display: none;
  font-size: 10px;
  padding: 1px 4px;
  position: absolute;
  right: 15px;
  top: 0;
  &:after {
    display: block;
    content: attr(data-message);
  }
}
.ng-touched.ng-invalid + .ng-error-message {
  display: block;
}

.form-custom-notifications {
  input {
    display: inline-block;
  }
  input[type=radio], input[type=checkbox] {
    margin: 4px 0 0;
    margin-top: 1px \9;
    line-height: normal;
  }
  input[type=phone] {
    width: 31.5%;
  }
  label {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    margin-left: 3px;
    margin-right: 23.5px;
  }
}