.b_1 {
  height: 200px;
  background: {
    color: red;
  }
}

.b_2 {
  height: 200px;
  background: {
    color: green;
  }
}

.b_3 {
  height: 200px;
  background: {
    color: blue;
  }
}

.b_4 {
  height: 200px;
  background: {
    color: yellow;
  }
}

/* Navigation bar */
.navbar {
  background-color: rgb(51, 122, 183);
}

.navbar a {
  color: #d8e6f3;
}

.navbar a:hover {
  color: #fff;
}

.nav > li > a:focus,
.nav > li > a:hover,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #204d74;
  color: #fff;
}

.navbar-toggle .icon-bar {
  background-color: #d8e6f3;
}

@media only screen and (max-width: 768px) {
  .dropdown-menu > li > a {
    color: #d8e6f3;
  }
}