.b_1 {
  height: 200px;
  background: {
    color: red;
  }
}

.b_2 {
  height: 200px;
  background: {
    color: green;
  }
}

.b_3 {
  height: 200px;
  background: {
    color: blue;
  }
}

.b_4 {
  height: 400px;
  background: {
    color: yellow;
  }
}