/* Basic HTML */

.main-content {
  padding-top: 65px
}


/* navigation bar */

.navbar {
  background-color: rgb(51, 122, 183);
}

.navbar a {
  color: #d8e6f3;
}

.navbar a:hover {
  color: #fff;
}

.nav > li > a:focus,
.nav > li > a:hover,
.nav .open > a,
.nav .open > a:focus,
.nav .open > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > li > a:hover {
  background-color: #204d74;
  color: #fff;
}

.navbar-toggle .icon-bar {
  background-color: #d8e6f3;
}

@media only screen and (max-width: 768px) {
  .dropdown-menu > li > a {
    color: #d8e6f3;
  }
}

/* lead */

/*
.lead-section {
  margin-top: 65px
}
*/

/* features */

.features .glyphicon {
  font-size: 32px;
}

/* footer */

@media only screen and (max-width: 768px) {
  .dropdown-menu > li > a {
    color: #d8e6f3;
  }
}

.footer {
  background-color: #333;
  padding-top: 30px;
  padding-bottom: 30px;
  color: rgb(239,239,239);
  height: 400px;
}

/* Blog */

.meta li:last-child {
  border-right: none;
}

.meta li {
  border-right: solid 1px rgb(119,119,119);
}

.blog-content {
  margin-top: 65px;
}

.lead {
  font-size: 21px;
  font-weight: 300;
}