/ Footer
%div.footer
  %div.container
    %div.row

      %div.col-sm-4.col-xs-6
        %h4
          Who We Are
        %p
          %i
            Blasting Off With Bootstrap is the fastest way to space.
          %a{href: '#'}
            Book your ticket today!
        %p
          %a{href: '#'}
            %i.glyphicon.glyphicon-arrow-right
              More about Us

      %div.col-sm-2.col-xs-6
        %h4
          Links
        %ul.list-unstyled
          %li
            %a{href: '#'}
              Home
          %li
            %a{href: '#'}
              Tickets
          %li
            %a{href: '#'}
              Stations

      %div.clearfix.visible-xs

      %div.col-sm-2.col-xs-6
        %h4
          Stay in Touch
        %ul.list-unstyled
          %li
            %a{href: '#'}
              About
          %li
            %a{href: '#'}
              Contact Us
          %li
            %a{href: '#'}
              Blog
          %li
            %a{href: '#'}
              Twitter
          %li
            %a{href: '#'}
              Facebook

      %div.col-sm-4.col-xs-6
        %h4
          Contact Us
        %ul.list-unstyled
          %li
            %i.glyphicon.glyphicon-globe
              Orlando, FL
          %li
            %i.glyphicon.glyphicon-phone
              1-555-blast-off
          %li
            %i.glyphicon.glyphicon-envelope
              %a{href: 'mailto:#'}
                blastingoff@codeschool.com
          %p
            Blasting off with Bootstrap &copy;2214
